* {
    box-sizing: border-box;
    font-family: Circular -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0%;
}

html {
    background-color: black;
}

.header__link--covid {
    font-size: 0.875em;
    color: black;
    padding: 20px 24px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-weight: 600;
    color: white;
    line-height: 1.125em;
}

.header__list {
    padding: 0 80px;
    display: flex;
    height: 80px;
    align-items: center;
}

.header__item-wrap {
    display: flex;
}

.header__item--logo {
    width: 417.5px;
}

.header__item {
    padding: 10px 16px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}


.header__item:hover {
    color: #aaa;
}


.header__item--place .line {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 51.34px;
    height: 2px;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.2s ease;
    
}

.header__item--place {
    max-width: 459px;
    position: relative;
}


.header__item--user {
    flex: 1 0 140px;
    justify-content: flex-end;
}

.header__item-owner {
    display: flex;
}


.header__item-global { 
    color: white;
    padding: 12px;
    margin-right: 8px;
    
}

.header__item-global:hover,
.header__item--co-op:hover {
    background-color: #262626;
    border-radius: 21px;
    color: white;
}

.header__item-admin {
    padding: 5px 5px 5px 12px;
    background-color: #fff;
    height: 42px;
    border-radius: 21px;
    border: 1px solid rgb(221, 221, 221);
    position: relative;
}

.header__item-menu {
    color: black;
    font-size: 16px;
}

.header__item-user--img {
    color: #717171;
    border-radius: 50%;
    margin-left: 12px;
}

.header__admin-menu{
    position: absolute;
    width: 240px;
    top: calc(100% + 16px);
    background-color: white;
    right: 0;
    border-radius: 12px;
    padding: 0;
    z-index: 3;
    list-style: none;
    display: none;
    
}

.header__admin-menu::before {
    cursor: pointer;
    content: "";
    position: absolute;
    right: -1px;
    top: -20px;
    border-width: 20px 37px;
    border-style: solid;
    border-color: transparent;
}

.header__item-admin:hover .header__admin-menu {
    display: block;
}

.header__admin-menu--top {
    border-bottom: 1px solid #dedddd ;
}

.header__admin-menu-item {
    padding: 12px;
}

.header__admin-menu-item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.header__admin-menu-item--focus {
    font-weight: 600;
}

/* Navbar */

.navbar {
    
}

.navbar__list {
    background-color: #fff;
    border-radius: 32px;
    height: 66px;
    max-width: 850px;
    margin: 0 auto;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    padding: 0;
    align-items: center;
    
}

.navbar__item {
    padding: 14px 32px;
    border-radius: 32px;
    background-color: white;
    display: block;
    cursor: pointer;
    position: relative;
}

.navbar__item::after {
    content: '';
    border-left: 1px solid #ddd;
    position: absolute;
    width: 1px;
    height: 32px;
    right: -1px;
    top: 70%;
    transform: translateY(-93%);

}

.navbar__item:nth-child(3)::after {
    display: none;
}


.navbar__item-places {
    width: 243px;
    flex-grow: 1

}

.navbar__item-heading {
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    font-weight: 600;
    padding-bottom: 2px;
    letter-spacing: 0.48px;
    
}

.navbar__item-input {
    border: none;
    color: #717171;
    padding: 0px;
    line-height: 18px;
    font-size: 14px;
}

.navbar__item-input:focus {
    outline: none;
}

.navbar__item-room {
    display: flex;
}

.navbar__item-rent {
    width: 180px;
}

.navbar__item-cus {
    flex-grow: 1;
    justify-content: space-around;

}

.navbar__search {
    background-color: #FF385C;
    color: white;
    border: 0px;
    border-radius: 24px;
    flex-grow: 1;
    min-width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    cursor: pointer;
}

.navbar__search--icon {

}
