* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin: 0%;
}

html {
    background-color: black;
}

.header {

}

.header__link--covid {
    font-size: 0.875em;
    color: black;
    padding: 20px 24px;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
    font-weight: 600;
    color: white;
    line-height: 1.125em;
}

.header__list {
    padding: 0 80px;
    display: flex;
    height: 80px;
    align-items: center;
}

.header__item-wrap {
    display: flex;
}

.header__item--logo {
    width: 417.5px;
}

.header__item {
    padding: 10px 16px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}



.header__item--place .line {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 51.34px;
    height: 2px;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.2s ease;
    
}

.header__item--place {
    max-width: 459px;
    position: relative;
}


.header__item--user {
    flex: 1 0 140px;
    justify-content: flex-end;
}

.header__item-owner {
    display: flex;
}


.header__item-global { 
    color: white;
    padding: 12px;
    margin-right: 8px;
    
}

.header__item-global:hover,
.header__item--co-op:hover {
    background-color: #262626;
    border-radius: 21px;
}

.header__item-admin {
    padding: 5px 5px 5px 12px;
    background-color: #fff;
    height: 42px;
    border-radius: 21px;
    border: 1px solid rgb(221, 221, 221);
}

.header__item-menu {
    color: black;
    font-size: 16px;
}

.header__item-user--img {
    color: #717171;
    border-radius: 50%;
    margin-left: 12px;
}
